@page
@model C_23052025_RUD.Pages.Alumnos.CreateModel
@{
	<form method="post">

		<div class="form-group">
			<display>Name</display>
			<input asp-for="Alumno.Nombre" class="form-control" />
			<span asp-validation-for="Alumno.Nombre" class="text-danger"></span>
		</div>


		<div class="form-group">
			<display>Surname</display>
			<input asp-for="Alumno.Apellido" class="form-control" />
			<span asp-validation-for="Alumno.Apellido" class="text-danger"></span>


		</div>
		<div class="form-group">
			<display>N° ID</display>
			<input asp-for="Alumno.Dni" class="form-control" />
			<span asp-validation-for="Alumno.Dni" class="text-danger"></span>



		</div>
		<div class="form-group">
			<display>E-mail</display>
			<input asp-for="Alumno.Ce" class="form-control" />
			<span asp-validation-for="Alumno.Ce" class="text-danger"></span>


		</div>
		<div class="form-group">
			<display>Date of birth</display>
			<input asp-for="Alumno.Fn" type="date" class="form-control" />
			<span asp-validation-for="Alumno.Fn" class="text-danger"></span>

		</div>
		<button type="submit" class="btn btn-primary">Save and Send</button>
	</form>



}
